{template 'common/header'}
<style>
  /* .content {
    font-size: 12px;
  } */
</style>

<form class="form-inline well">
  <input type="hidden" name="c" value="site" />
  <input type="hidden" name="a" value="entry" />
  <input type="hidden" name="do" value="{$_GPC['do']}" />
  <input type="hidden" name="m" value="{$_GPC['m']}" />
  <div class="form-group">
    <label for="s_id">链接ID</label>
    <input type="text" class="form-control" id="s_id" name="s_id" value="{$_GPC['s_id']}" />
  </div>
  <div class="form-group">
    <label for="s_userid">会员ID</label>
    <input type="text" class="form-control" id="s_userid" name="s_userid" value="{$_GPC['s_userid']}" />
  </div>
  <div class="form-group">
    <label for="s_type">类型</label>
    <input type="text" class="form-control" id="s_type" name="s_type" value="{$_GPC['s_type']}" />
  </div>
  <div class="form-group">
    <label for="s_name">名称搜索</label>
    <input type="text" class="form-control" id="s_name" name="s_name" placeholder="模糊查询" value="{$_GPC['s_name']}" />
  </div>


  <button type="submit" class="btn btn-default">搜索</button>
</form>

<table class="table table-striped">
  <thead>
    <tr>
      <th>链接ID</th>
      <th>会员ID</th>
      <th>类型</th>
      <th>名称</th>
      <th>推广链接</th>
      <th>访问量</th>
      <th>跳转量</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    {loop $result $index $item}
    <tr>
      <td>{$item['id']}</td>
      <td>{$item['userid']}</td>
      <td>{$item['type']}</td>
      <td>{$item['name']}</td>
      <td>
        <div class="input-group">
          <input type="text" class="form-control" value="{$item['link']}" />
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="window.open('{$item['qrcode']}')">
              <span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </td>
      <td>{$item['views']}</td>
      <td>{$item['arrives']}</td>
      <td>
        <?php echo date("Y-m-d H:i", $item['createtime']);?>
      </td>
      <td>
        <a href="<?php echo $this->createWebUrl('del', array('id' => $item['id']))?>" class="btn btn-default">删除链接</a>
      </td>
    </tr>
    {/loop}
  </tbody>
</table>
<nav>
  <ul class="pager">
    {if $previous}
    <li class="previous">
      <a href="{$previous}"><span aria-hidden="true">&larr;</span>上一页</a>
    </li>
    {/if}
    <li>当前第{$page}页/共{$total}条数据</li>
    {if $next}
    <li class="next">
      <a href="{$next}">下一页<span aria-hidden="true">&rarr;</span></a>
    </li>
    {/if}
  </ul>
</nav>

{template 'common/footer'}